@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;

		--white: #ffffff;
		--gray-50: #FAFAFA;
		--gray-100: #F5F5F5;
		--gray-200: #EEEEEE;
		--gray-300: #E0E0E0;
		--gray-400: #BDBDBD;
		--gray-500: #9E9E9E;
		--gray-600: #757575;
		--gray-700: #616161;
		--gray-800: #424242;
		--gray-900: #212121;

		--amber-500: #FFC107;
		--amber-600: #FFB300;
		--amber-700: #FFA000;
	}
}

:root {
	--app--bg: light-dark(var(--white), var(--gray-800));
	--app--color: light-dark(var(--gray-900), var(--gray-300));

	--appHeader--bg: light-dark(var(--gray-200), var(--gray-900));
	--appHeader--color: var(--app--color);
	--appHeader--logo: var(--app--color);

	--appFooter--bg: light-dark(var(--gray-200), var(--gray-900));
	--appFooter--color: var(--gray-600);

	--modal--bg: light-dark(var(--white), var(--gray-900));
	--modal--borderColor: light-dark(var(--gray-300), var(--gray-800));
	--modal--color: var(--app--color);
	--modal--backdrop--bg: light-dark(var(--gray-900), var(--gray-800));
	--modal--close--color: var(--app--color);

	--recipeCard--bg: light-dark(var(--gray-200), var(--gray-900));
	--recipeCard--color: var(--app--color);
	--recipeCard--badgeNoTranslation--bg: var(--amber-500);
	--recipeCard--badgeNoTranslation--color: var(--gray-900);
}

:root {
	color-scheme: light;
	--modal--backdrop--opacity: .5;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--modal--backdrop--opacity: .8;
	}
}

[color-scheme="light"] {
	color-scheme: light;
}

[color-scheme="dark"] {
	color-scheme: dark;
}

[v-cloak] {
	display: none;
}

html {
	font-size: 16px;
	line-height: 1.4;
}

button,
input {
	font-size: inherit;
	line-height: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	margin: 0;
	padding: 0;
	background-color: var(--app--bg);
	color: var(--app--color);
	font-family: sans-serif;
	overflow-y: scroll;

	>main {
		flex-grow: 1;
		margin-block: 1rem 2rem;

	}
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	line-height: 1.2;
}

.container {
	--container-mw: 100%;
	width: 100%;
	max-width: var(--container-mw);
	margin-right: auto;
	margin-left: auto;
	padding-inline: 1rem;
	box-sizing: border-box;

	@media (min-width: 576px) {
		--container-mw: 540px;
	}

	@media (min-width: 48rem) {
		--container-mw: 720px;
	}

	@media (min-width: 992px) {
		--container-mw: 960px;
	}

	@media (min-width: 1200px) {
		--container-mw: 1140px;
	}

	@media (min-width: 1400px) {
		--container-mw: 1320px;
	}
}

html,
body {
	&:has(dialog[open]) {
		overflow: hidden;
	}
}

button {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

input,
select {
	outline: none;
}

.customSelect {
	--borderColor: light-dark(var(--gray-300), var(--gray-600));
	--bg: transparent;
	--color: var(--app--color);
	--icon--color: var(--app--color);

	position: relative;
	display: inline-flex;
	align-items: center;

	select {
		border-radius: .375rem;
		padding: 0 2.25rem 0 .75rem;
		height: 2rem;
		font-size: 1rem;
		appearance: none;
		transition: background-color .3s, border-color .3s, color .3s;

		&:not(:disabled) {
			border-color: var(--borderColor);
			background-color: var(--bg);
			color: var(--color);
			cursor: pointer;

			@media (hover: hover) {
				&:hover {
					--borderColor: light-dark(var(--gray-200), var(--gray-500));
					--bg: light-dark(var(--gray-100), var(--gray-800));
				}
			}

			&:active {
				--borderColor: light-dark(var(--gray-400), var(--gray-400));
				--bg: light-dark(var(--gray-200), var(--gray-700));
			}
		}

		&:disabled {
			opacity: 1;
			--borderColor: light-dark(var(--gray-300), var(--gray-700));
			--bg: light-dark(var(--gray-200), var(--gray-800));
			--color: light-dark(var(--gray-400), var(--gray-600));
		}

		option {
			background-color: light-dark(var(--gray-100), var(--gray-800));
		}
	}

	svg {
		position: absolute;
		right: .25rem;
		width: 2rem;
		height: 2rem;
		pointer-events: none;
		transition: fill .3s;
		fill: var(--icon--color);
	}

	&:has(select:not(:disabled)) {
		--icon--color: var(--app--color);
	}

	&:has(select:disabled) {
		--icon--color: light-dark(var(--gray-400), var(--gray-600));
	}
}

.customCheckbox {
	--borderColor: light-dark(var(--gray-300), var(--gray-600));
	--bg: transparent;
	--color: var(--app--color);
	--icon--color: var(--app--color);

	display: flex;
	align-items: center;
	gap: .5rem;

	input {
		width: 20px;
		height: 20px;
		margin: 0;
		appearance: none;
	}

	input {
		flex: 0 0 auto;
		border: 1px solid;
		border-radius: .375rem;
		background-position: center;
		background-size: cover;

		&:not(:disabled) {
			border-color: var(--borderColor);

			[color-scheme="light"] & {
				&:checked {
					background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23212121"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>')
				}
			}

			[color-scheme="dark"] & {
				&:checked {
					background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>')
				}
			}
		}
	}

	label {
		font-size: .875rem;
	}
}

.btn {
	border: 1px solid;
	border-color: var(--borderColor);
	background: var(--bg);
	appearance: none;
	transition: background-color .2s, border-color .2s, color .2s;

	&:not(:disabled) {
		cursor: pointer;
	}

	&.btn--icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border-radius: .375rem;
		padding: calc(.375rem - 1px);
		width: 2rem;
		height: 2rem;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&.btn--modal--close {
		margin-left: auto;
		padding: 0;
		--borderColor: light-dark(var(--gray-200), var(--gray-800));
		--bg: light-dark(var(--gray-200), var(--gray-800));
		fill: var(--modal--close--color);

		&:not(:disabled) {
			@media (hover:hover) {
				&:hover {
					--borderColor: light-dark(var(--gray-300), var(--gray-700));
					--bg: light-dark(var(--gray-300), var(--gray-700));
				}
			}

			&:active {
				--borderColor: light-dark(var(--gray-400), var(--gray-600));
				--bg: light-dark(var(--gray-400), var(--gray-600));
			}
		}
	}
}