[v-cloak] {
	display: none;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;

		--white: #ffffff;
		--gray-50: #FAFAFA;
		--gray-100: #F5F5F5;
		--gray-200: #EEEEEE;
		--gray-300: #E0E0E0;
		--gray-400: #BDBDBD;
		--gray-500: #9E9E9E;
		--gray-600: #757575;
		--gray-700: #616161;
		--gray-800: #424242;
		--gray-900: #212121;

		--amber-500: #FFC107;
		--amber-600: #FFB300;
		--amber-700: #FFA000;
	}
}

:root {
	color-scheme: light dark;

	--app--bg: light-dark(var(--white), var(--gray-800));
	--app--color: light-dark(var(--gray-900), var(--gray-300));

	--appHeader--bg: light-dark(var(--gray-200), var(--gray-900));
	--appHeader--color: light-dark(var(--gray-900), var(--gray-300));
	--appHeader--logo: light-dark(var(--gray-900), var(--gray-300));

	--appFooter--bg: light-dark(var(--gray-200), var(--gray-900));
	--appFooter--color: var(--gray-600);

	--input--borderColor: light-dark(var(--gray-300), var(--gray-200));
	--input--color: light-dark(var(--gray-900), var(--app--color));
	--input--color--hover: red;
	--input--color--active: red;
	--input--color--disabled: red;

	--modal--bg: light-dark(var(--white), var(--gray-900));
	--modal--borderColor: light-dark(var(--gray-300), var(--gray-800));
	--modal--color: light-dark(var(--gray-900), var(--gray-200));
	--modal--backdrop--bg: light-dark(var(--gray-900), var(--gray-800));

	--recipeCard--bg: light-dark(var(--gray-200), var(--gray-900));
	--recipeCard--color: var(--app--color);
	--recipeCard--badgeNoTranslation--bg: var(--amber-500);
	--recipeCard--badgeNoTranslation--color: var(--gray-900);
}

:root {
	color-scheme: light;
	--modal--backdrop--opacity: .5;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--modal--backdrop--opacity: .8;
	}
}

[color-scheme="light"] {
	color-scheme: light;

	--app--bg: var(--white);
	--app--color: var(--gray-900);

	--appHeader--bg: var(--gray-200);
	--appHeader--color: var(--gray-900);
	--appHeader--logo: var(--gray-900);

	--appFooter--bg: var(--gray-200);
	--appFooter--color: var(--gray-600);

	--input--borderColor: var(--gray-300);
	--input--color: var(--gray-900);

	--modal--bg: var(--white);
	--modal--borderColor: var(--gray-300);
	--modal--color: var(--gray-900);
	--modal--backdrop--bg: var(--gray-900);
	--modal--backdrop--opacity: .5;

	--recipeCard--bg: var(--gray-200);
	--recipeCard--color: var(--app--color);
	--recipeCard--badgeNoTranslation--bg: var(--amber-500);
	--recipeCard--badgeNoTranslation--color: var(--gray-900);
}

[color-scheme="dark"] {
	color-scheme: dark;

	--app--bg: var(--gray-800);
	--app--color: var(--gray-300);

	--appHeader--bg: var(--gray-900);
	--appHeader--color: var(--gray-300);
	--appHeader--logo: var(--gray-300);

	--appFooter--bg: var(--gray-900);
	--appFooter--color: var(--gray-600);

	--input--borderColor: red;
	--input--color: red;

	--modal--bg: var(--gray-900);
	--modal--borderColor: var(--gray-800);
	--modal--color: var(--gray-200);
	--modal--backdrop--bg: var(--gray-800);
	--modal--backdrop--opacity: .8;

	--recipeCard--bg: var(--gray-900);
	--recipeCard--color: var(--app--color);
	--recipeCard--badgeNoTranslation--bg: var(--amber-500);
	--recipeCard--badgeNoTranslation--color: var(--gray-900);
}


html {
	font-size: 16px;
	line-height: 1.4;
}

button,
input {
	font-size: inherit;
	line-height: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	margin: 0;
	padding: 0;
	background-color: var(--app--bg);
	color: var(--app--color);
	font-family: sans-serif;

	>main {
		flex-grow: 1;
		margin-block: 1rem 2rem;

	}
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	line-height: 1.2;
}

.container {
	--container-mw: 100%;
	width: 100%;
	max-width: var(--container-mw);
	margin-right: auto;
	margin-left: auto;
	padding-inline: 1rem;
	box-sizing: border-box;

	@media (min-width: 576px) {
		--container-mw: 540px;
	}

	@media (min-width: 48rem) {
		--container-mw: 720px;
	}

	@media (min-width: 992px) {
		--container-mw: 960px;
	}

	@media (min-width: 1200px) {
		--container-mw: 1140px;
	}

	@media (min-width: 1400px) {
		--container-mw: 1320px;
	}
}

html,
body {
	&:has(dialog[open]) {
		overflow: hidden;
	}
}

button {
	-webkit-tap-highlight-color: transparent;
}

.btn {
	border: 1px solid;
	border-color: var(--main);
	background: var(--main);
	appearance: none;
	transition: background-color .2s, border-color .2s, color .2s;

	&:not(:disabled) {
		cursor: pointer;
	}

	&.btn--icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border-radius: .375rem;
		padding: calc(.375rem - 1px);
		width: 2rem;
		height: 2rem;
		fill: var(--gray-900);

		svg {
			width: 100%;
			height: 100%;
		}
	}
}